[project]
	description = maven cucumber repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mallavsn
[access "refs/for/refs/*"]
	read = group user/mallavsn
	push = group user/mallavsn
	label-Code-Review = -2..+2 group user/mallavsn
	label-Verified = -1..+1 group user/mallavsn
	rebase = group user/mallavsn
	removeReviewer = group user/mallavsn
	submit = group user/mallavsn
[access "refs/heads/*"]
	read = group user/mallavsn
	create = group user/mallavsn
	push = +force group user/mallavsn
	pushMerge = group user/mallavsn
[access "refs/tags/*"]
	push = +force group user/mallavsn
	pushTag = group user/mallavsn
	pushSignedTag = group user/mallavsn
[receive]
	requireChangeId = true
